.layout.solving {
  grid-template-rows: 50px 35px auto 35px auto 50px;
  grid-template-columns: 45% 65%;
  background-color: #263747;

  & > .box {
    &.problem_title {
      grid-column: 1 / span 2;
      padding: 15px;
      border-bottom: 1px solid #172334;

      & > em{
        padding: 5px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
        border-bottom: 3px solid #FFFFFF;
      }
    }
    &.problem_desc {
      grid-row: 2 / span 5;
      border-right: 1px solid #172334;
      padding: 10px;

      & > em {
        display: block;
        padding-bottom: 15px;
        font-size: 14px;

        &.title {
          color: #FFFFFF;
          font-weight: bold;
        }
        &.description {
          color: #B2C0CC;
          line-height: 25px;
        }
      }
    }
    &.code_title, &.execute_title {
      border-bottom: 1px solid #172334;
      padding: 0 10px;

      & > em {
        color: #FFFFFF;
        font-weight: bold;
      }
    }
    &.code, &.result {
      border-bottom: 1px solid #172334;
      padding: 10px;

      & > textarea {
        width: 100%;
        height: inherit;
        resize: none;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: rgba(0,0,0,0);
        border: 0;
        color: #B2C0CC;
        line-height: 25px;
      }
    }
    &.buttons {
      padding: 0 10px;
    }
  }
}
