$color-cherry: #F06B78;
$color-cherry2: #FFEAEA;
$color-lightCherry: #FEF5F5;
$color-gray: #A7ACBB;
$color-gray2: #CFCFCF;
$color-lightGray: #F1F3F5;
$color-veryLightGray: #FAFAFA;
$color-darkGray: #8C8C8C;
$color-darkDarkGray: #474747;

$color-border-lightGray: $color-lightGray;
$color-border-gray: $color-gray;
$color-border-gray2: $color-gray2;
$color-border-darkGray: $color-darkGray;

$color-font-gray: $color-gray;
$color-font-darkGray: $color-darkGray;
$color-font-cherry: $color-cherry;
$color-font-darkDarkGray: $color-darkDarkGray;
